[Desktop Entry]
Name=Obsidian
Comment=Knowledge base and note-taking application
Exec=/usr/bin/obsidian %U
Icon=/usr/share/icons/hicolor/512x512/apps/obsidian.png
Type=Application
Terminal=false
Categories=Office;Utility;TextEditor;
MimeType=x-scheme-handler/obsidian;
StartupWMClass=obsidian
