
---
# services.yaml
# https://gethomepage.dev/latest/configs/services

- Infrastructure:
    - Proxmox VE:
        description: Virtualization Platform
        href: https://proxmox.local.byetgin.com
        icon: proxmox.png
        widget:
          type: proxmox
          url: https://192.168.1.10:8006
          username: "{{HOMEPAGE_VAR_PROXMOX_TOKEN_ID}}"
          password: "{{HOMEPAGE_VAR_PROXMOX_TOKEN_SECRET}}"

    - Grafana:
        description: Monitoring & Metrics
        href: https://grafana.byetgin.com
        icon: grafana.png
        widget:
          type: grafana
          url: http://192.168.1.104:3000
          username: "{{HOMEPAGE_VAR_GRAFANA_USERNAME}}"
          password: "{{HOMEPAGE_VAR_GRAFANA_PASSWORD}}"

    - Prometheus:
        description: Metrics Collection
        href: https://prometheus.byetgin.com
        icon: prometheus.png
        widget:
          type: prometheus
          url: http://192.168.1.104:9090

    - Loki:
        description: Log Aggregation
        href: https://loki.byetgin.com
        icon: loki.png

    - Backrest:
        description: Backup Management
        href: https://backrest.byetgin.com
        icon: mdi-backup-restore
        widget:
          type: backrest
          url: http://192.168.1.106:9898
          username: "{{HOMEPAGE_VAR_BACKREST_USERNAME}}"
          password: "{{HOMEPAGE_VAR_BACKREST_PASSWORD}}"

    - Nginx Proxy Manager:
        description: Reverse Proxy
        href: https://npm.byetgin.com
        icon: nginx-proxy-manager.png
        widget:
          type: npm
          url: http://192.168.1.100:81
          username: "{{HOMEPAGE_VAR_NPM_USERNAME}}"
          password: "{{HOMEPAGE_VAR_NPM_PASSWORD}}"

    - AdGuard Home:
        description: DNS & AdBlock
        href: https://adguard.byetgin.com
        icon: adguard-home.png
        widget:
          type: adguard
          url: http://192.168.1.100:3000
          username: "{{HOMEPAGE_VAR_ADGUARD_USERNAME}}"
          password: "{{HOMEPAGE_VAR_ADGUARD_PASSWORD}}"

    - Tailscale:
        description: VPN & Network
        href: https://login.tailscale.com/admin/machines
        icon: tailscale.png

    - Cloudflare Zero Trust:
        description: Network Security
        href: https://one.dash.cloudflare.com/9a9852b8b3a0e43cadac66ada7aadeb1/overview?tab=overview&duration=24h
        icon: cloudflare.png

    - Palmr:
        description: S3 Storage
        href: https://palmr.local.byetgin.com
        icon: mdi-folder-multiple

- Media:
    - Jellyfin:
        description: Media Server
        href: https://jellyfin.local.byetgin.com
        icon: jellyfin.png
        widget:
          type: jellyfin
          url: http://192.168.1.101:8096
          key: "{{HOMEPAGE_VAR_JELLYFIN_API_KEY}}"
    
    - Jellyseerr:
        description: Media Requests
        href: https://jellyseerr.byetgin.com
        icon: jellyseerr.png
        widget:
          type: jellyseerr
          url: http://192.168.1.101:5055
          key: "{{HOMEPAGE_VAR_JELLYSEERR_API_KEY}}"
    
    - Sonarr:
        description: TV Shows
        href: https://sonarr.byetgin.com
        icon: sonarr.png
        widget:
          type: sonarr
          url: http://192.168.1.101:8989
          key: "{{HOMEPAGE_VAR_SONARR_API_KEY}}"
    
    - Radarr:
        description: Movies
        href: https://radarr.byetgin.com
        icon: radarr.png
        widget:
          type: radarr
          url: http://192.168.1.101:7878
          key: "{{HOMEPAGE_VAR_RADARR_API_KEY}}"
    
    - Prowlarr:
        description: Indexer Manager
        href: https://prowlarr.byetgin.com
        icon: prowlarr.png
        widget:
          type: prowlarr
          url: http://192.168.1.101:9696
          key: "{{HOMEPAGE_VAR_PROWLARR_API_KEY}}"
    
    - Bazarr:
        description: Subtitles
        href: https://bazarr.byetgin.com
        icon: bazarr.png
        widget:
          type: bazarr
          url: http://192.168.1.101:6767
          key: "{{HOMEPAGE_VAR_BAZARR_API_KEY}}"
    
    - Immich:
        description: Photo & Video Management
        href: https://immich.byetgin.com
        icon: immich.png
        widget:
          type: immich
          url: http://192.168.1.101:2283
          key: "{{HOMEPAGE_VAR_IMMICH_API_KEY}}"
          version: 2
    
    - Cleanuperr:
        description: Media Cleanup
        href: https://cleanuparr.byetgin.com/
        icon: cleanuperr.png

- Utilities:
    - Desktop Workspace:
        description: Remote Desktop (Selkies)
        href: https://cdn.local.byetgin.com
        icon: chrome.png

    - CouchDB:
        description: Obsidian Sync
        href: https://couchdb.byetgin.com/_utils
        icon: couchdb.png

    - Vaultwarden:
        description: Password Manager
        href: https://vaultwarden.byetgin.com
        icon: vaultwarden.png

    - VS Code:
        description: Web-based IDE
        href: https://code.byetgin.com/
        icon: vscode.png

- Downloads:
    - qBittorrent:
        description: Torrent Client
        href: https://qbittorrent.byetgin.com
        icon: qbittorrent.png
        widget:
          type: qbittorrent
          url: http://192.168.1.101:8080
          username: "{{HOMEPAGE_VAR_QB_USERNAME}}"
          password: "{{HOMEPAGE_VAR_QB_PASSWORD}}"
    
    - Metube:
        description: YouTube Downloader
        href: https://metube.byetgin.com
        icon: metube.png
    
    - MyJDownloader:
        description: Download Manager
        href: https://my.jdownloader.org
        icon: jdownloader.png


