
---
# widgets.yaml
# https://gethomepage.dev/latest/configs/service-widgets

# Greeting
- greeting:
    text_size: xl
    text: "Welcome!"

# Datapool Storage
- resources:
    label: Datapool Storage
    disk:
      - /datapool
    diskUnits: bytes

# Weather - K覺r覺kkale
- openmeteo:
    label: K覺r覺kkale
    latitude: 39.8468
    longitude: 33.5153
    units: metric
    cache: 5

# Date & Time
- datetime:
    text_size: lg
    format:
      dateStyle: short
      timeStyle: short
      hour12: false

# Quick Search
- search:
    provider: google
    target: _blank
    focus: false

