TZ=Europe/Istanbul

# Palworld Configuration
PALWORLD_ADMIN_PASSWORD=CHANGEME
PALWORLD_SERVER_PASSWORD=CHANGEME

# Watchtower Telegram Notifications
WATCHTOWER_TELEGRAM_TOKEN=<BOT_TOKEN>
WATCHTOWER_TELEGRAM_CHAT_IDS=<CHAT_ID>

# Beszel automatic agent registration
BESZEL_PUBLIC_KEY=<beszel-hub-public-key>
BESZEL_UNIVERSAL_TOKEN=<beszel-permanent-universal-token>
