TZ=Europe/Istanbul

# Satisfactory Configuration (Settings managed in-game via Server Manager since v1.0)
SATISFACTORY_SERVERNAME=Proxmox Homelab Satisfactory
SATISFACTORY_PASSWORD=CHANGEME
SATISFACTORY_MAX_PLAYERS=10
SATISFACTORY_UPDATE_ON_START=true
SATISFACTORY_BRANCH=public

# Palworld Configuration
PALWORLD_ADMIN_PASSWORD=CHANGEME
PALWORLD_SERVER_PASSWORD=CHANGEME
PALWORLD_SERVER_NAME=Proxmox Homelab Palworld
PALWORLD_SERVER_DESCRIPTION=Homelab Palworld Server
PALWORLD_MAX_PLAYERS=8
PALWORLD_PUBLIC_IP=
PALWORLD_COMMUNITY_SERVER=false
PALWORLD_RCON_ENABLED=false


# Watchtower Telegram Notifications
WATCHTOWER_TELEGRAM_TOKEN=<BOT_TOKEN>
WATCHTOWER_TELEGRAM_CHAT_IDS=<CHAT_ID>
