TZ=Europe/Istanbul

# Palworld Configuration
PALWORLD_ADMIN_PASSWORD=CHANGEME
PALWORLD_SERVER_PASSWORD=CHANGEME
PALWORLD_SERVER_NAME=Proxmox Homelab Palworld
PALWORLD_SERVER_DESCRIPTION=Homelab Palworld Server
PALWORLD_MAX_PLAYERS=4
PALWORLD_EGG_HATCHING_TIME=0
