[defaults]
inventory = inventory
host_key_checking = False
retry_files_enabled = False
roles_path = roles
deprecation_warnings = False
interpreter_python = auto_silent
timeout = 30
connect_timeout = 30
command_timeout = 60
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 7200
ansible_ssh_retries = 5

[ssh_connection]
retries = 5
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ConnectTimeout=30

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
