{
  "modno": 2,
  "version": 4,
  "instance": "{{INSTANCE_ID}}",
  "repos": [
    {
      "id": "{{REPO_ID}}",
      "uri": "/repos",
      "password": "{{REPO_PASSWORD}}",
      "guid": "{{REPO_GUID}}",
      "prunePolicy": {
        "schedule": {
          "cron": "0 16 * * 5",
          "clock": "CLOCK_LAST_RUN_TIME"
        },
        "maxUnusedPercent": 25
      },
      "checkPolicy": {
        "schedule": {
          "cron": "30 16 1 * *",
          "clock": "CLOCK_LAST_RUN_TIME"
        },
        "readDataSubsetPercent": 10
      },
      "commandPrefix": {},
      "hooks": [
        {
          "actionCommand": {
            "command": "/config/sync-to-gdrive.sh"
          },
          "conditions": [
            "CONDITION_SNAPSHOT_SUCCESS",
            "CONDITION_SNAPSHOT_WARNING"
          ],
          "onError": "ON_ERROR_IGNORE"
        }
      ]
    }
  ],
  "plans": [
    {
      "id": "config-backup",
      "repo": "{{REPO_ID}}",
      "paths": [
        "/backup-sources/config"
      ],
      "excludes": [
        "/backup-sources/config/desktop-workspace",
        "/backup-sources/config/adguard/work/data",
        "/backup-sources/config/*/.cache",
        "/backup-sources/config/*/cache",
        "/backup-sources/config/jellyfin/cache",
        "/backup-sources/config/immich/cache",
        "/backup-sources/config/recyclarr/repositories",
        "/backup-sources/config/recyclarr/resources",
        "/backup-sources/config/backrest/cache",
        "/backup-sources/config/homepage",
        "/backup-sources/config/couchdb/local.d",
        "/backup-sources/config/backrest/config/config.json*",
        "/backup-sources/config/backrest/config/rclone.conf*",
        "/backup-sources/config/backrest/config/*.log",
        "/backup-sources/config/backrest/config/sync-to-gdrive.sh",
        "/backup-sources/config/jellyfin/data/metadata",
        "/backup-sources/config/jellyfin/data/data/SQLiteBackups",
        "/backup-sources/config/jellyfin/data/data/subtitles",
        "/backup-sources/config/radarr/MediaCover",
        "/backup-sources/config/sonarr/MediaCover",
        "/backup-sources/config/qbittorrent/qBittorrent/GeoDB",
        "/backup-sources/config/qbittorrent/qBittorrent/logs",
        "/backup-sources/config/qbittorrent/qBittorrent/BT_backup",
        "/backup-sources/config/bazarr/cache",
        "/backup-sources/config/bazarr/backup",
        "/backup-sources/config/code-server/data/coder-logs",
        "/backup-sources/config/jellyseerr/cache",
        "/backup-sources/config/vaultwarden/icon_cache",
        "/backup-sources/config/vaultwarden/tmp",
        "/backup-sources/config/npm/data/logs",
        "/backup-sources/config/npm/data/nginx/temp",
        "/backup-sources/config/prowlarr/Definitions",
        "/backup-sources/config/*/Backups",
        "/backup-sources/config/*/backups",
        "/backup-sources/config/tdarr/server/Tdarr/Backups",
        "/backup-sources/config/tdarr/server/Tdarr/Logs",
        "/backup-sources/config/tdarr/server/Tdarr/DB2/JobReports",
        "/backup-sources/config/*/logs.db*",
        "/backup-sources/config/*/logs",
        "/backup-sources/config/*/log",
        "/backup-sources/config/prowlarr/Sentry",
        "/backup-sources/config/radarr/Sentry",
        "/backup-sources/config/sonarr/Sentry",
        "/backup-sources/config/*/asp",
        "/backup-sources/config/vaultwarden/ssl/key.pem",
        "/backup-sources/config/tailscale",
        "**/postmaster.pid",
        "**/pg_internal.init",
        "**/pg_logical/replorigin_checkpoint",
        "**/pg_dynshmem/*",
        "**/pg_notify/*"
      ],
      "schedule": {
        "cron": "30 12 * * *",
        "clock": "CLOCK_LAST_RUN_TIME"
      },
      "retention": {
        "policyTimeBucketed": {
          "hourly": 0,
          "daily": 14,
          "weekly": 4,
          "monthly": 3,
          "yearly": 0
        }
      }
    },
    {
      "id": "immich-backup",
      "repo": "{{REPO_ID}}",
      "paths": [
        "/backup-sources/immich"
      ],
      "excludes": [
        "/backup-sources/immich/backups"
      ],
      "schedule": {
        "cron": "0 2 */3 * *",
        "clock": "CLOCK_LAST_RUN_TIME"
      },
      "retention": {
        "policyTimeBucketed": {
          "hourly": 0,
          "daily": 7,
          "weekly": 4,
          "monthly": 12,
          "yearly": 3
        }
      }
    }
  ],
  "auth": {
    "disabled": false,
    "users": [
      {
        "name": "{{USERNAME}}",
        "passwordBcrypt": "{{PASSWORD_BCRYPT}}"
      }
    ]
  },
  "sync": {
    "identity": {
      "keyId": "{{SYNC_KEY_ID}}",
      "ed25519priv": "{{SYNC_PRIVATE_KEY}}",
      "ed25519pub": "{{SYNC_PUBLIC_KEY}}"
    }
  }
}
