{
  "modno": 2,
  "version": 4,
  "instance": "{{INSTANCE_ID}}",
  "repos": [
    {
      "id": "{{REPO_ID}}",
      "uri": "/repos",
      "password": "{{REPO_PASSWORD}}",
      "guid": "{{REPO_GUID}}",
      "prunePolicy": {
        "schedule": {
          "cron": "0 16 * * 5",
          "clock": "CLOCK_LAST_RUN_TIME"
        },
        "maxUnusedPercent": 25
      },
      "checkPolicy": {
        "schedule": {
          "cron": "30 16 1 * *",
          "clock": "CLOCK_LAST_RUN_TIME"
        },
        "readDataSubsetPercent": 10
      },
      "commandPrefix": {},
      "hooks": [
        {
          "actionCommand": {
            "command": "/config/sync-to-gdrive.sh"
          },
          "conditions": [
            "CONDITION_SNAPSHOT_SUCCESS"
          ],
          "onError": "ON_ERROR_IGNORE"
        }
      ]
    }
  ],
  "plans": [
    {
      "id": "config-backup",
      "repo": "{{REPO_ID}}",
      "paths": [
        "/backup-sources/config"
      ],
      "excludes": [
        "/backup-sources/config/desktop-workspace",
        "/backup-sources/config/webtop",
        "/backup-sources/config/*/.cache",
        "/backup-sources/config/*/cache",
        "/backup-sources/config/loki/data",
        "/backup-sources/config/prometheus/data",
        "/backup-sources/config/jellyfin/cache",
        "/backup-sources/config/immich/cache",
        "/backup-sources/config/recyclarr/repositories",
        "/backup-sources/config/backrest/cache",
        "/backup-sources/config/homepage",
        "/backup-sources/config/prometheus-pve-exporter",
        "/backup-sources/config/couchdb/local.d",
        "/backup-sources/config/grafana/provisioning",
        "/backup-sources/config/grafana/dashboards",
        "/backup-sources/config/prometheus/prometheus.yml",
        "/backup-sources/config/prometheus/rules",
        "/backup-sources/config/prometheus/recording-rules",
        "/backup-sources/config/loki/loki.yml",
        "/backup-sources/config/backrest/config/config.json",
        "/backup-sources/config/backrest/config/rclone.conf",
        "/backup-sources/config/backrest/config/sync-to-gdrive.sh",
        "/backup-sources/config/jellyfin/data/metadata",
        "/backup-sources/config/grafana/data/plugins",
        "/backup-sources/config/radarr/MediaCover",
        "/backup-sources/config/sonarr/MediaCover",
        "/backup-sources/config/qbittorrent/qBittorrent/GeoDB",
        "/backup-sources/config/bazarr/cache",
        "/backup-sources/config/*/logs",
        "/backup-sources/config/*/log",
        "/backup-sources/config/prowlarr/Sentry",
        "/backup-sources/config/radarr/Sentry",
        "/backup-sources/config/sonarr/Sentry",
        "/backup-sources/config/*/asp",
        "/backup-sources/config/vaultwarden/ssl/key.pem"
      ],
      "schedule": {
        "cron": "30 12 * * *",
        "clock": "CLOCK_LAST_RUN_TIME"
      },
      "retention": {
        "policyTimeBucketed": {
          "hourly": 0,
          "daily": 30,
          "weekly": 8,
          "monthly": 12,
          "yearly": 3
        }
      }
    },
    {
      "id": "immich-backup",
      "repo": "{{REPO_ID}}",
      "paths": [
        "/backup-sources/immich"
      ],
      "schedule": {
        "cron": "0 2 * * 0,3",
        "clock": "CLOCK_LAST_RUN_TIME"
      },
      "retention": {
        "policyTimeBucketed": {
          "hourly": 0,
          "daily": 7,
          "weekly": 4,
          "monthly": 6
        }
      }
    }
  ],
  "auth": {
    "disabled": false,
    "users": [
      {
        "name": "{{USERNAME}}",
        "passwordBcrypt": "{{PASSWORD_BCRYPT}}"
      }
    ]
  },
  "sync": {
    "identity": {
      "keyId": "{{SYNC_KEY_ID}}",
      "ed25519priv": "{{SYNC_PRIVATE_KEY}}",
      "ed25519pub": "{{SYNC_PUBLIC_KEY}}"
    }
  }
}
